

<div class="row">
    

    <div class="clo-sm-3 ">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="center"  fxLayout = "column">
            <button  class = "button-style" type="submit" routerLink='/employer/jobmanager/job'  mat-raised-button>Create Job</button>
            <button class = "button-style" routerLink='/employer/jobmanager/jobdelete'  mat-raised-button>View Jobs</button>
        
        </div>

    </div>

    <div class="clo-sm-6 offset-sm-2">
        <router-outlet></router-outlet>
    </div>
</div>

