<div class="job">

    <form [formGroup]="jobupdateService.formModel1"> 

        

        <div> 
            <br>
            <br>
            <label >JobTitle:</label>
            <br>
            <input
             class="form-control"
             formControlName="jobtitle"
             [ngModel]="job.jobTitle"
             type="text">
        </div>

        <div> 
            <label >JobType:</label>
            <br>
            <input
             class="form-control"
             formControlName="jobtype"
             [ngModel]="job.jobType"
             type="text">
        </div>

        <div> 
            <label >JobDetails:</label>
            <br>
            <input
             class="form-control"
             formControlName="jobdetails"
             [ngModel]="job.jobDetailsFilePath"

             type="text">
        </div>

        <div>  <label > Vacancy:</label>
            <br>
            <input
             [ngModel]="job.vacancy"
             class="form-control"
             formControlName="vacancy"
             type="text">
        </div>

        <div> 
            <label >EmploymentStatus:</label>
            <br>
            <input
            class="form-control"
            [ngModel]="job.employmentStatus"
             formControlName="employmentstatus"
             type="text">
        </div>

        <div> 
            <label >Experience:</label>
            <br>
            <input
            class="form-control"
            [ngModel]="job.experience"
             formControlName="experience"
             type="text">
        </div>

        <div> 
            <label >Gender:</label>
            <br>
            <input
            class="form-control"
            [ngModel]="job.gender"

             formControlName="gender"
             type="text">
        </div>

        <div> 
            <label >Salary:</label>
            <br>
            <input
            class="form-control"
            [ngModel]="job.salary"
             formControlName="salary"
             type="text">
        </div>

        <div> 
            <label >Age:</label>
            <br>
            <input
            [ngModel]="job.age"
            class="form-control"
             formControlName="age"
             type="text">
        </div>

        <div> 
            <label >JobLocation:</label>
            <br>
            <input
            [ngModel]="job.jobLocation"
            class="form-control"
             formControlName="joblocation"
             type="text">
        </div>

        <div> 
            <label >Deadline:</label>
            <br>
            <input
            [ngModel]="job.deadline"
            class="form-control"
             formControlName="deadline"
             type="text">
        </div>

        <div>
            <br>
            <button type="submit" (click)="updateJob()" style="background-color: cornsilk;" mat-raised-button>Update Job</button>
        </div>

    </form>

   
</div>