<!-- <div fxLayoutAlign = "center center" fxFlexFill class="main-div">
    <mat-card  fxFlex="25">
      <mat-toolbar color="primary">Login Page </mat-toolbar>
        <form [formGroup]="loginService.formModel" fxLayoutAlign = "stretch" fxLayout = "column" class="login-form">
            <mat-form-field >
              <input matInput formControlName="username" placeholder="Username" >
            </mat-form-field>
          
            <mat-form-field >
                <input matInput formControlName="password" type="password" placeholder="Password" >
              </mat-form-field>
          </form>
          <button mat-raised-button type="submit" (click)="loginTest()" class="button-div"> Login </button>
    </mat-card>
</div> -->

<!-- (ngSubmit)="submit()" -->

<mat-card>
  <mat-toolbar color="primary">Sign in to Job Portal </mat-toolbar>

  <form [formGroup]="loginService.formModel" > 
  
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </p>



    <div class="button">
        <button type="submit" (click)="loginTest()"  mat-button>SIGN IN</button>
    </div>


    <div fxLayout = "row">
        <div class="button2">
          <button type="submit" (click)="loginTest()" style ="color: blue;" mat-button>Forget password?</button>
        </div>

        <div class="button3">
          <button type="submit" (click)="signup()" style="color:blue;" mat-button>Create an account.</button>
        </div>
    </div>
  
  </form>

</mat-card>