<div class="job">

    <form [formGroup]="jobService.formModel"> 
        <div> 
            <label for="jobTitle">JobTitle:</label>
            <br>
            <input class="form-control"
             formControlName="jobtitle"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">JobType:</label>
            <br>
            <input
            class="form-control"
             formControlName="jobtype"
             type="text">
        </div>

        
        
        <div> 
            <label for="jobTitle">Vacancy:</label>
            <br>
            <input
            class="form-control"
             formControlName="vacancy"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">EmploymentStatus:</label>
            <br>
            <input
            class="form-control"
             formControlName="employmentstatus"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">Experience:</label>
            <br>
            <input
            class="form-control"
             formControlName="experience"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">Gender:</label>
            <br>
            <input
            class="form-control"
             formControlName="gender"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">Salary:</label>
            <br>
            <input
            class="form-control"
             formControlName="salary"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">Age:</label>
            <br>
            <input
            class="form-control"
             formControlName="age"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">JobLocation:</label>
            <br>
            <input
            class="form-control"
             formControlName="joblocation"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">Deadline:</label>
            <br>
            <input
            class="form-control"
             formControlName="deadline"
             type="text">
        </div>

        <div> 
            <label for="jobTitle">JobDetails:</label>
            <br>
            <input
            class="form-control"
             formControlName="jobdetails"
             type="text">
        </div>

        <div>
            <br>
            <button type="submit" (click)="createJob()" style="background-color: cornsilk;"   mat-raised-button>CREATE</button>
        </div>

    </form>

    <!-- <div class="center"> 
    
        <form (ngSubmit)="search()"> 

        <label style="text-align: center;">Enter the search key: </label><br>
        <input
         type="text"
         placeholder="SearchKey"
         [(ngModel)] = "searchKey"
         name="searchKey"
         >

         <button type="submit"> Submit </button>
    
         <br>
         //<input type="text" name="search" [(ngModel)]="search" id="search" placeholder="search news" 
        </form>
        
    
    </div> -->

   
</div>