<!-- <div class="link">
    <a routerLink="/home" routerLinkActive="active">HOME</a>
</div>

<div class="link">
    <a routerLink="/login" routerLinkActive="active">LOGIN</a>
</div>

<div class="link">
    <a routerLink="/job" routerLinkActive="active">JOB</a>
</div>

<div class="link">
    <a routerLink="/jobmanager" routerLinkActive="active">JOBManagement</a>
</div>

<router-outlet> </router-outlet>


<app-login></app-login> 
 -->



 <app-bar>

 </app-bar>

 <div>
    <router-outlet> </router-outlet>
 </div>