
 <form [formGroup]="signupService.formModel" >

    <div id="login-box">
        <div class="left">
          <h1>Sign up</h1>
          
          <input type="text" formControlName="username" placeholder="Username" />
          <input type="text" formControlName="email" placeholder="E-mail" />
          <input type="password" formControlName="password" placeholder="Password" />
          <input type="password" formControlName="password2" placeholder="Retype password" />

          

          <input type="submit" (click)="signUpUser()" name="signup_submit" value="Sign me up" /> 
          
        </div>

        <!-- <div class="checkbox"> 
          <input type="checkbox" id="checkbox1" name="checkbox1" value="I agree to the Terms & Conditions">
          <input type="checkbox" id="checkbox2" name="checkbox2" value="Subscribe to  Jobs Newsletter and Notifications.">
        </div> -->

       
        
        <div class="right">
          <span class="loginwith">Sign in with<br />social network</span>
          
          <button class="social-signin facebook">Log in with facebook</button>
          <button class="social-signin twitter">Log in with Twitter</button>
          <button class="social-signin google">Log in with Google</button>
        </div>
        <div class="or">OR</div>
      </div>

 </form>

