
 <form [formGroup]="signupService.formModel" >

    <div id="login-box">
        <div class="left">
          <h1>Additional Info for Job Seeker</h1>
          
          <input type="text" formControlName="firstname" placeholder="First Name" />
          <input type="text" formControlName="lastname" placeholder="Last Name" />
          <input type="text" formControlName="gender" placeholder="Gender" />
          <input type="text" formControlName="gender" placeholder="Email" />
          <input type="text" formControlName="gender" placeholder="Mobile Number" />
          <input type="text" formControlName="gender" placeholder="Address" />

          <input type="submit" (click)="signUpUser()" name="signup_submit" value="Sign me up" /> 
          
        </div>

    </div>

 </form>

