<div class="row apply">
    <div class="col-sm-3">

    </div>

    <div class="col-sm-7">

        <div class="form-group">
            <h3 for="file">Upload Your CV:        </h3>
            <input type="file"
                   id="file"
                   (change)="handleFileInput($event.target.files)">
        </div>
        
    </div >

    <div class="col-sm-1">
        
    </div> 

    <div>
        
    </div>
</div>

<div class="row">

    <div class="col-sm-3">

    </div>

    <div class="col-sm-7">

        <button  mat-raised-button (click)="apply()">APPLY </button>
        
    </div >

    <div class="col-sm-1">
        
    </div> 

    <div>
        
    </div>
</div>





